
obj/Debug/COVID-19.csprojAssemblyReference.cache
obj/Debug/COVID-19_MarkupCompile.i.cache
obj/Debug/COVID-19_MarkupCompile.i.lref
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/COVID-19/v15/.suo
.vs/COVID-19/v15/Server/sqlite3/db.lock
.vs/COVID-19/v15/Server/sqlite3/storage.ide
.vs/COVID-19/v15/Server/sqlite3/storage.ide-shm
.vs/COVID-19/v15/Server/sqlite3/storage.ide-wal
.vs/COVID-19/v16/.suo
.vs/COVID-19/v16/Server/sqlite3/storage.ide
.vs/COVID-19/v16/.suo
.vs/COVID-19/v16/Server/sqlite3/storage.ide
